.container div {
    display: inline-block;
    width: 200px;
    height: 200px;
}

.quadrado {
    background: red;
}

.quadrado2 {
    background: blueviolet;
}

.quadrado3 {
    background: green;
}

.quadrado4 {
    background: yellow;
}

#borda1 {
    border: 2px solid black;
}

#borda2 {
    border: 2px solid black;
}

#borda3 {
    border: 2px solid black;
}

#borda4 {
    border: 2px solid black;
}